{% extends 'base.html.twig' %}

{% block title %}Modifier votre mot de passe{% endblock %}

{% block body %}
    {% include 'incs/background_header.html.twig' %}

    <div class="container mt-5 p-lg-5">
        <h1 class="text-center mb-5">Modifier votre mot de passe</h1>

        {{ form_start(changePasswordForm) }}
        {{ form_row(changePasswordForm.old_password, {
            label: 'Ancien mot de passe'
        }) }}
        {{ form_row(changePasswordForm.new_password, {
            label: 'Nouveau mot de passe'
        }) }}
        {{ form_row(changePasswordForm.new_password_confirm, {
            label: 'Confirmation nouveau mot de passe'
        }) }}
        {{ form_end(changePasswordForm) }}
    </div>
{% endblock %}