{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% include 'incs/background_header.html.twig' %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}


    <div class="container mt-5 p-lg-5">
        <h1 class="text-center mb-5">Inscription</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
        {% if not app.user or not app.user.id %}
        {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
        {% endif %}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.phone) }}
            {{ form_row(registrationForm.agreeTerms) }}

    {#        <button type="submit" class="btn">Register</button>#}
        {{ form_end(registrationForm) }}
        {% if app.user %}
            <a href="{{ path('change_password.html.twig') }}" class="btn btn-danger">Modifier votre mot de passe</a>
        {% endif %}
    </div>
{% endblock %}
