{% extends 'base.html.twig' %}

{% block title %}Liste des biens{% endblock %}

{% block body %}
    {% include 'incs/background_header.html.twig' %}
    <div class="jumbotron">
        <h1 class="text-center font-weight-bold">Tous nos biens</h1>
    </div>
    <div class="container">
        <div class="row flex">
            {% for property in properties %}
                <div class="mt-2">
                    <img src="{{ property.picture }}" alt="">
                </div>
                <div class="col-3 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">
                                <a href="{{ path('detailProperty', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.surface }}M2 - {{ property.rooms }} pièces</p>
                            <p class="card-text">{{ property.postalCode }} - {{ property.city }}</p>
                            <div class="text-secondary font-weight-bold">{{ property.formatedPrice }} €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
