{% extends 'base.html.twig' %}

{% block title %}Bien Immobilier!{% endblock %}

{% block body %}
    {% include 'incs/background_header.html.twig' %}

        <div class="site-section" id="property-details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="owl-carousel slide-one-item with-dots">
                            <div><img src="{{ asset('images/property_1.jpg') }}" alt="Image" class="img-fluid"></div>
                            <div><img src="{{ asset('images/property_2.jpg') }}" alt="Image" class="img-fluid"></div>
                            <div><img src="{{ asset('images/property_3.jpg') }}" alt="Image" class="img-fluid"></div>
                        </div>
                    </div>

                    <div class="col-lg-5 pl-lg-5 ml-auto">
                        <div class="mb-5">
                            <p class="text-black mb-4">Réf: {{ property.ref }}</p>
                            <h1 class="font-weight-bold">{{property.title}}</h1>
                            <h3>{{property.rooms}} pièces - {{ property.surface }} M2</h3>
                            <h2 class="text-primary font-weight-bold">{{ property.formatedPrice }} €</h2>
                            <p>{{ property.description | nl2br }}</p>
                        </div>

                        <div class="mb-5">

                            <div class="mt-5">
                                <table class="table table-stripped">
                                    <tr>
                                        <td>Surface</td>
                                        <td>{{ property.surface }} M2</td>
                                    </tr>
                                    <tr>
                                        <td>Pièces</td>
                                        <td>{{ property.rooms }}</td>
                                    </tr>
                                    <tr>
                                        <td>Chambres</td>
                                        <td>{{ property.bedrooms }}</td>
                                    </tr>
                                    <tr>
                                        <td>Etage</td>
                                        <td>{{ property.floor }}</td>
                                    </tr>
                                    <tr>
                                        <td>Chauffage</td>
                                        <td>{{ property.heater }}</td>
                                    </tr>
                                </table>
                                <p><a href="{{ path('property_contact', {ref:property.ref}) }}" class="btn btn-primary btn-sm">Contactez notre Agence</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
