{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    {% include 'incs/background_header.html.twig' %}

    {% for message in app.flashes('send_mail_success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container mt-5 p-lg-5">
        <h1 class="text-center mb-5">Nous contacter</h1>

        {{ form_start(contactForm) }}

        {% if contactForm.property is defined %}
        {{ form_row(contactForm.property, {
            'label': 'Référence de la propriété'
        }) }}
        {% endif %}
        {{ form_row(contactForm.firstname, {value:app.user ? app.user.firstname : ''}) }}
        {{ form_row(contactForm.lastname, {value:app.user ? app.user.lastname : ''}) }}
        {{ form_row(contactForm.email, {value:app.user ? app.user.email : ''}) }}
        {{ form_row(contactForm.phone, {value:app.user ? app.user.phone : ''}) }}
        {{ form_row(contactForm.message) }}

                <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(contactForm) }}

    </div>

{% endblock %}
