{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    {% include 'incs/background_header.html.twig' %}

    {% for message in app.flashes('send_mail_success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container mt-5 p-lg-5">
        <h1 class="text-center mb-5">Nous contacter</h1>

        {{ form_start(contactForm) }}

        {{ form_row(contactForm.firstname) }}
        {{ form_row(contactForm.lastname) }}
        {{ form_row(contactForm.email) }}
        {{ form_row(contactForm.phone) }}
{#        {% if {{ url('property_contact', {ref: property.ref}) }} %}#}
{#            {{ form_row(contactForm.property.ref) }}#}
{#        {% endif %}#}
        {{ form_row(contactForm.message) }}
{#        {{ form_row(registrationForm.agreeTerms) }}#}

                <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(contactForm) }}

    </div>

{% endblock %}
