<h1>Nouveau contact</h1>
<p>Prénom : {{ contact.firstname }}</p>
<p>Nom : {{ contact.lastname }}</p>
<p>Téléphone : {{ contact.phone }}</p>
<p>Email : {{ contact.email }}</p>
<p>Message : {{ contact.message | nl2br}}</p>