{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
    {% include 'incs/background_header.html.twig' %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
<div class="container">
    <div class="row">


        <div class="col-12 mt-5">
            <p class="text-center display-4">Bonjour <strong>{{ user.firstname }} {{ user.lastname }}</strong></p>
            <p class="mt-5"><i class="far fa-user"></i> : {{ user.username }}</p>
                <p ><i class="far fa-envelope"></i> : {{ user.email }}</p>
                <p><i class="fas fa-mobile-alt"></i> : {{ user.phone }}</p>
            <a class="btn btn-primary" href="{{ path('edit_user', {id:user.id}) }}"><i class="far fa-edit"></i></a>
            <a class="btn btn-danger ml-3" href="#" onclick="if(confirm('Êtes-vous sûr(e) de vouloir supprimer votre compte ?')) window.location.href='{{ path('delete_user', {id:user.id}) }}';"><i class="far fa-trash-alt"></i></a>


{#            <p>Produits proposés par l'utilisateur : </p>#}
{#            <ul>#}
{#                {% for product in user.products %}#}
{#                    <li>#}
{#                        <a href="{{ path('product', {id : product.id}) }}">{{ product.name }}</a>#}
{#                        {% if app.user == user %}#}
{#                            <a class="btn btn-danger" href="#" onclick="if(confirm('Supprimer ?')) window.location.href='{{ path('delete_product', {id:product.id}) }}';">#}
{#                                Supprimer#}
{#                            </a>#}
{#                        {% endif %}#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#            {% if app.user and app.user == user %}#}
{#                <a class="btn btn-primary" href="{{ path('add_product') }}">Ajouter un produit</a>#}
{#            {% endif %}#}
        </div>
    </div>
</div>
{% endblock %}