{% extends 'base.html.twig' %}

{% block title %}Détails de l'utilisateur {{ user.username }}{% endblock %}

{% block body %}
    {% include 'incs/background_header.html.twig' %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <h1 class="text-center">{{ user.username }}</h1>
            <h2 class="mt-5">{{ user.firstname }} {{ user.lastname }}</h2>
                <p>Email : {{ user.email }}</p>
                <p>Téléphone : {{ user.phone }}</p>
            <a class="btn btn-primary" href="{{ path('app_register') }}">Modifier votre profil</a>
            <a class="btn btn-danger" href="#" onclick="if(confirm('Êtes-vous sûr(e) de vouloir supprimer votre compte ?')) window.location.href='{{ path('delete_user', {id:user.id}) }}';">Supprimer votre compte</a>


{#            <p>Produits proposés par l'utilisateur : </p>#}
{#            <ul>#}
{#                {% for product in user.products %}#}
{#                    <li>#}
{#                        <a href="{{ path('product', {id : product.id}) }}">{{ product.name }}</a>#}
{#                        {% if app.user == user %}#}
{#                            <a class="btn btn-danger" href="#" onclick="if(confirm('Supprimer ?')) window.location.href='{{ path('delete_product', {id:product.id}) }}';">#}
{#                                Supprimer#}
{#                            </a>#}
{#                        {% endif %}#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#            {% if app.user and app.user == user %}#}
{#                <a class="btn btn-primary" href="{{ path('add_product') }}">Ajouter un produit</a>#}
{#            {% endif %}#}
        </div>
    </div>
</div>
{% endblock %}